// base text colors
:root {
// Neutrals colors
--neutral_050: #F0F4F8;
--neutral_100: #D9E2EC;
--neutral_200: #BCCCDC;
--neutral_300: #9FB3C8;
--neutral_400: #829AB1;
--neutral_500: #627D98;
--neutral_600: #486581;
--neutral_700: #334E68;
--neutral_800: #243B53;
--neutral_900: #102A43;

// Supporting
// Primary
// Light Blue (Vivid)
--primary_050: #E3F8FF;
--primary_100: #B3ECFF;
--primary_200: #81DEFD;
--primary_300: #5ED0FA;
--primary_400: #40C3F7;
--primary_500: #2BB0ED;
--primary_600: #1992D4;
--primary_700: #127FBF;
--primary_800: #0B69A3;
--primary_900: #035388;

// info
// Cyan
--info_050: #E0FCFF;
--info_100: #BEF8FD;
--info_200: #87EAF2;
--info_300: #54D1DB;
--info_400: #38BEC9;
--info_500: #2CB1BC;
--info_600: #14919B;
--info_700: #0E7C86;
--info_800: #0A6C74;
--info_900: #044E54;

// danger
// Red (Vivid)
--danger_050: #FFE3E3;
--danger_100: #FFBDBD;
--danger_200: #FF9B9B;
--danger_300: #F86A6A;
--danger_400: #EF4E4E;
--danger_500: #E12D39;
--danger_600: #CF1124;
--danger_700: #AB091E;
--danger_800: #8A041A;
--danger_900: #610316;

// success
// Green
--success_050: #E3F9E5;
--success_100: #C1EAC5;
--success_200: #A3D9A5;
--success_300: #7BC47F;
--success_400: #57AE5B;
--success_500: #3F9142;
--success_600: #2F8132;
--success_700: #207227;
--success_800: #0E5814;
--success_900: #05400A;

// warning
// Yellow (Vivid)
--warning_050: #FFFBEA;
--warning_100: #FFF3C4;
--warning_200: #FCE588;
--warning_300: #FADB5F;
--warning_400: #F7C948;
--warning_500: #F0B429;
--warning_600: #DE911D;
--warning_700: #CB6E17;
--warning_800: #B44D12;
--warning_900: #8D2B0B;

// teal
// Teal
--teal_050: #EFFCF6;
--teal_100: #C6F7E2;
--teal_200: #8EEDC7;
--teal_300: #65D6AD;
--teal_400: #3EBD93;
--teal_500: #27AB83;
--teal_600: #199473;
--teal_700: #147D64;
--teal_800: #0C6B58;
--teal_900: #014D40;

}